MNISTDataset/Three/Classifier
MNISTDataset/Three/ClassifierBackup
MNISTDataset/Three/test.data
MNISTDataset/Three/tmp_op.txt
MNISTDataset/Three/tmp_op_v1.txt
MNISTDataset/Three/training.data
MNISTDataset/datagen
MNISTDataset/t10k-images-idx3-ubyte.txt
MNISTDataset/t10k-labels-idx1-ubyte.txt
MNISTDataset/test.data
MNISTDataset/train-images-idx3-ubyte.txt
MNISTDataset/train-labels-idx1-ubyte.txt
MNISTDataset/training.data
MNISTDataset/Three/ModelStorage/
MNISTDataset/Three/TestDataResults/
MNISTDataset/Three/IntegratedGradients/

PlusDataset/Classifier
PlusDataset/datagen
PlusDataset/test.data
PlusDataset/training.data

Datasets/DatasetTest

ActivationFunctions/ActivationTest
ActivationFunctions/tmp.txt

LossFunctions/LossFunctionTest
LossFunctions/tmp.txt

NeuronWeightInitializers/NeuronWeightInitializerTest
NeuronWeightInitializers/tmp.txt

Neurons/NeuronTest
Neurons/tmp.txt

Layers/LayerTest
Layers/tmp.txt

NeuralNetwork/NeuralNetworkTest
NeuralNetwork/tmp.txt

TempCodeDump/