MNISTDataset/datagen
MNISTDataset/RawData/
MNISTDataset/test.data
MNISTDataset/training.data
MNISTDataset/Classifier

MNISTDataset/Three/ModelStorage/
MNISTDataset/Three/TestDataResults/
MNISTDataset/Three/IntegratedGradients/
MNISTDataset/Three/test.data
MNISTDataset/Three/training.data

MNISTDataset/Four/ModelStorage/
MNISTDataset/Four/TestDataResults/
MNISTDataset/Four/IntegratedGradients/
MNISTDataset/Four/test.data
MNISTDataset/Four/training.data

PlusDataset/Classifier
PlusDataset/datagen
PlusDataset/test.data
PlusDataset/training.data

Datasets/DatasetTest

ActivationFunctions/ActivationTest
ActivationFunctions/tmp.txt

LossFunctions/LossFunctionTest
LossFunctions/tmp.txt

NeuronWeightInitializers/NeuronWeightInitializerTest
NeuronWeightInitializers/tmp.txt

Neurons/NeuronTest
Neurons/tmp.txt

Layers/LayerTest
Layers/tmp.txt

NeuralNetwork/NeuralNetworkTest
NeuralNetwork/tmp.txt

TempCodeDump/